<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rozach - Algorithm Visualizations</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="{% static 'AlgorithmVisualizer/css/style.css'%}"></link>
</head>

<body>
    <div class="preloader" id="preloader"></div>

    <header>
        <nav>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3 id="solve-button">Solve</h3>
            <h3 id="check-button">Check</h3>
            <h3 id="hint-button">Hint</h3>
            <h3 id="pause-button">00:00</h3>
        </nav>
    </header>

    <main id="main">
        <div id="root"></div>
    </main>
    
    <script src="/static/js/main.js"></script>
    <script type="text/javascript" src="{% static 'SudokuGame/js/fluid-simulator/dat.gui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'SudokuGame/js/script.js' %}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $( ".preloader" ).addClass( "finished" );
        });
    </script>
</body>

</html>