/************************ Root ************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

/************************ Modal ************************/

.modal-content {
    min-width: 20rem;
    min-height: 20rem;
    border: 1rem solid blue;
}

/************************ Scroll-Bar ************************/

::-webkit-scrollbar {
    width: 0;
}

#scroll-path {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0);
}

/************************ Horizontal Rainbow-Progress-Bar ************************/

#progress-bar {
    position: fixed;
    top: 10vh;
    left: 0px;
    width: 0%;
    height: 0.7rem;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 4;
}

#progress-bar::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progress-bar::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

/************************ Animated Rozach-Logo ************************/

#logo-svg {
    height: 100%;
}

#logo-svg path:nth-child(1) {
    stroke-dasharray: 187.91128540039062;
    stroke-dashoffset: 187.91128540039062;
    animation: logo-animation 1s ease forwards .1s;
}

#logo-svg path:nth-child(2) {
    stroke-dasharray: 132.7279815673828;
    stroke-dashoffset: 132.7279815673828;
    animation: logo-animation 1s ease forwards .12s;
}

#logo-svg path:nth-child(3) {
    stroke-dasharray: 128.09532165527344;
    stroke-dashoffset: 128.09532165527344;
    animation: logo-animation 1s ease forwards .14s;
}

#logo-svg path:nth-child(4) {
    stroke-dasharray: 150.5275115966797;
    stroke-dashoffset: 150.5275115966797;
    animation: logo-animation 1s ease forwards .16s;
}

#logo-svg path:nth-child(5) {
    stroke-dasharray: 121.61630249023438;
    stroke-dashoffset: 121.61630249023438;
    animation: logo-animation 1s ease forwards .18s;
}

#logo-svg path:nth-child(6) {
    stroke-dasharray: 153.18829345703125;
    stroke-dashoffset: 153.18829345703125;
    animation: logo-animation 1s ease forwards .2s;
}

@keyframes logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-fill {
    to {
        fill: white;
    }
}

@keyframes logo-unfill {
    to {
        fill: transparent;
    }
}


/************************ Navigation-Panel ************************/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 40px 100px;
    z-index: 10;
}

@media (max-width: 1200px) {
    #navbarNav {
        height: 100vh;
        transition: 0.7s;
    }
}

@media (min-width: 1200px) {
    #navbarNav {
        height: 10vh;
        transition: 0.7s;
    }
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    z-index: 10;
}


#navbarNav ul li {
    position: relative;
    min-width: 150px;
}

#navbarNav ul li a {
    position: relative;
    font-size: 1.5rem;
    float: right;
}



/************************ Body-Panel ************************/

body {
    overflow: hidden;
    overflow-y: scroll;
}

/************************ Main-Panel ************************/

#main {
    position: relative;
    
    padding-top: 10vh;
    min-height: 100vh;
    background: gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: stretch;
    z-index: 1;
}

/************************ Fluid-Panel ************************/

#fluid-background {
    position: absolute;
    z-index: -1;
}

#fluid-canvas {
    position: absolute;
    background: green;
}

/************************ Make Fluid-Config-Panel invisible ************************/

.dg.ac {
    display: none;
}

/************************ Carousel ************************/

/************************ Navigation-Bar Selection-Bubble ************************/

.selection-bubble {
    position: absolute;
    background: orange;
    transform: scale(1.5);
    transition: all 0.1s ease-in;
    border-radius: 1rem;
    z-index: -2;
}

/************************ Profile-Section ************************/

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100vh;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02));
    z-index: 1;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}

.profile-description-div {
    flex-grow: 1;

    width: 40rem;
    height: 100vh;
}

.profile-description-div h3 {
    text-align: center;
    color: whitesmoke;

    transform: translateY(100%) scale(1.0);
    opacity: 0.0;
    animation: show-profile-description 0.9s ease forwards .2s;
}

.profile-img {
    flex-grow: 1;
    
    margin: 3rem;
    border-radius: 50%;
    width: 20rem;

    transform: translateY(-100%) scale(0.5);
    transition: all 0.3s ease;
    animation: show-profile-img 0.9s ease forwards .1s;
}

.profile-img:hover {
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.5);
}

@keyframes show-profile-img {
    from {
        transform: translateY(-100%) scale(0.5);
        border: 0px solid rgba(0, 0, 0, 0.5);

    }
    to {
        transform: translateY(0rem) scale(1.0);
        border: .5rem solid rgba(0, 0, 0, 0.3);
    }
}

@keyframes show-profile-description {
    from {
        transform: translateY(100%);
        opacity: 0.0;
    }
    to {
        transform: translate(0rem);
        opacity: 1.0;
    }
}

@keyframes scale-profile-img {
    to{
        transform: scale(1.2);
    }
}

/************************ Projects-Section ************************/

.projects-section {
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 215, 0, 0.6), rgba(255, 215, 0, 0.8));
    z-index: 2;
}

/************************ Skills-Section ************************/

.skills-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(138, 43, 226, 0.6), rgba(138, 43, 226, 0.8));
    z-index: 2;
}

.skills-section .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 300px;
}

/************************ Resume-Section ************************/

.resume-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(107, 255, 62, 0.658), rgba(138, 43, 226, 0.8));
    z-index: 2;
}

.resume-section h2, .resume-section h3 {
    text-align: center;
}

.resume-section h5 {
    text-align: center;
}

/************************ Contact-Section ************************/

.contact-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(25, 25, 112, 0.6), rgba(25, 25, 112, 0.8));
    z-index: 2;
}
