* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

::-webkit-scrollbar {
    width: 0;
}

#scroll-path {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0);
}

#progress-bar {
    position: fixed;
    top: 10vh;
    left: 0px;
    width: 0%;
    height: 0.7rem;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 4;
}

#progress-bar::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progress-bar::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#logo-svg {
    position: absolute;
    top: 50%;
    left: 4rem;
    fill: transparent;
    transform: translateY(-50%);
}

#logo-svg path:nth-child(1) {
    stroke-dasharray: 187.91128540039062;
    stroke-dashoffset: 187.91128540039062;
    animation: logo-animation 1s ease forwards;
}

#logo-svg path:nth-child(2) {
    stroke-dasharray: 132.7279815673828;
    stroke-dashoffset: 132.7279815673828;
    animation: logo-animation 1s ease forwards 0.3s;
}

#logo-svg path:nth-child(3) {
    stroke-dasharray: 128.09532165527344;
    stroke-dashoffset: 128.09532165527344;
    animation: logo-animation 1s ease forwards 0.6s;
}

#logo-svg path:nth-child(4) {
    stroke-dasharray: 150.5275115966797;
    stroke-dashoffset: 150.5275115966797;
    animation: logo-animation 1s ease forwards 0.9s;
}

#logo-svg path:nth-child(5) {
    stroke-dasharray: 121.61630249023438;
    stroke-dashoffset: 121.61630249023438;
    animation: logo-animation 1s ease forwards 1.2s;
}

#logo-svg path:nth-child(6) {
    stroke-dasharray: 153.18829345703125;
    stroke-dashoffset: 153.18829345703125;
    animation: logo-animation 1s ease forwards 1.5s;
}

@keyframes logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-fill {
    to {
        fill: white;
    }
}

@keyframes logo-unfill {
    to {
        fill: transparent;
    }
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    left: 0px;
    top: 0px;
    background: rgb(41, 41, 41);
    z-index: 4;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: lightgray;
    text-decoration: none;
}

.selection-bubble {
    position: absolute;
    background: orange;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
    z-index: -2;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}

#main {
    min-height: 100vh;
    background: gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: stretch;
    position: relative;
    z-index: 1;
}

#fluid-background {
    width: 100%;
    height: 100vh;
    top: 10vh;
    position: fixed;
    z-index: -1;
}

#fluid-canvas {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
}

.dg.ac {
    display: none;
}

audio {
    flex-grow: 1;
    z-index: 3;
}

#audio-button {
    flex-grow: 1;
    z-index: 3;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: white;
}

.profile-section {
    flex-grow: 1;

    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4));
    z-index: 2;
}

.projects-section {
    flex-grow: 1;
    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 215, 0, 0.6), rgba(255, 215, 0, 0.8));
    z-index: 2;
}

.skills-section {
    flex-grow: 1;

    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(138, 43, 226, 0.6), rgba(138, 43, 226, 0.8));
    z-index: 2;
}

.resume-section {
    flex-grow: 1;

    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(0, 128, 0, 0.6), rgba(0, 128, 0, 0.8));
    z-index: 2;
}

.contact-section {
    flex-grow: 1;

    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(25, 25, 112, 0.6), rgba(25, 25, 112, 0.8));
    z-index: 2;
}
